<h2>TO DO</h2>

<ul class="todos">
  <li *ngFor="let todo of todoList">
    <a routerLink="">
      <h5 class="title"><font color={{todo.category.color.name}}>{{todo.todo.title}}</font></h5>
      <p class="category">{{todo.category.name}}</p>
      <p class="body">{{todo.todo.body}}</p>
      <p class="state">{{todo.todo.state.name}}</p>
    </a>
  </li>
</ul>

<div>
  <form [formGroup]="addForm" (ngSubmit)="add()">

    <label for="title">TITLE: </label>
    <input id="title" type="text" formControlName="title">

    <label for="body">BODY: </label>
    <input id="body" type="text" formControlName="body">

    <label id="categoryId">CATEGORY: </label>
    <select id="categoryId" formControlName="category_id">
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>

    <button type="submit" [disabled]="!addForm.valid">Submit</button>
  </form>
</div>
